---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?claudiuinberlin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="xtjmMFyBbB2jvM35YDjtu7D1I", oauth_nonce="dqGFYKaoJXZOOwsCFyxOO3xBN06KI5Y5BOVMSyzB90Y",
        oauth_signature="bDyBEyWBUBCOclwNq0eZnmd05Mg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1407942646", oauth_token="2617802185-94zZikE7dVDlPBN7beFhngn4t4IkClEeUkflVht",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 13 Aug 2014 15:10:46 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1407943546'
      X-Transaction:
      - 8d63f90c11dcaef0
    body:
      encoding: UTF-8
      string: '[{"created_at":"Wed Aug 13 12:50:30 +0000 2014","id":499538484856905728,"id_str":"499538484856905728","text":"offf
        twitter....\nbyebug) response.body\n\"\u007b\\\"errors\\\":[\u007b\\\"message\\\":\\\"Rate
        limit exceeded\\\",\\\"code\\\":88\u007d]\u007d\". you make me mock it :\/","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2617802185,"id_str":"2617802185","name":"claudiu","screen_name":"claudiuinberlin","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":7,"friends_count":91,"listed_count":0,"created_at":"Fri
        Jul 11 18:10:41 +0000 2014","favourites_count":2,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":7,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/495517306798080001\/HcwWOZb2_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/495517306798080001\/HcwWOZb2_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Fri
        Aug 08 23:35:35 +0000 2014","id":497888887663247360,"id_str":"497888887663247360","text":"http:\/\/t.co\/MNv32DelLp","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2617802185,"id_str":"2617802185","name":"c[...]
[...]
